<nav class="main-navbar">
    <ul>
        <li>
            <a href="/ranking">
                Ranking
            </a>
        </li>
        {{#loggedUser}}
        {{#admin}}
        <li>
            <a href="/newStudioToDb">
                Add new studio
            </a>
        </li>
        <li>
            <a href="/newGameToDb">
                Add new game
            </a>
        </li>
        {{/admin}}
        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
        <li>
        {{/loggedUser}}
        {{^loggedUser}}
        <li>
            <a href="/login">
                Login
            </a>
        </li>
        <li>
            <a href="/signup">
                Sign up
            </a>
        </li>
        {{/loggedUser}}
    </ul>
</nav>