<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new review to database</title>
</head>
<body>
{{> snippet/header}}
<main>
    <h2>Add a new review</h2>
    <form action="/postNewReviewToDb" method="post">
        <p>Your username:</p>
        <label>
            <input type='text' name='userName'>
        </label>
        <p>Comment:</p>
        <label>
            <input type='text' name='comment'>
        </label>
        <p>Score:</p>
        <label>
            <input type='number' name='score' min="0" max="10">
        </label>
        <p>
            <input type='submit' value='Send'/>
        </p>
    </form>

    {{#errorMessage}}
    <p>
        {{.}}
    </p>
    {{/errorMessage}}
</main>
</body>
</html>