<!DOCTYPE html>
<html lang="en">
{{#game}}
<head>
    <meta charset="UTF-8">
    <title>Game: {{name}}</title>
</head>
<body>
{{> snippet/header}}

<main>
    <h2>{{name}}</h2>
    <p>
        {{description}}
    </p>
    <p>
        Release data: {{date}}
    </p>
    <p>
        Developed by:
    </p>
    <p>
    <ul>
        {{#studios}}
        <li>
            <a href="/studio/{{name}}">
                {{name}}
            </a>
        </li>
        {{/studios}}
    </ul>
    {{^studios}}
    This game does not have a known author LOL
    {{/studios}}

    </p>
    <p>
        Reviews:
    <ul>
        {{#reviews}}
        <li>
            <form action="/deleteReviewToDb" method="post">
                {{#game}}
                <input type='hidden' name='gameName' value="{{name}}">
                {{/game}}
                {{#user}}
                <input type='hidden' name='userName' value="{{username}}">
                {{/user}}
                <input type='hidden' name='deleteReturnGame' value=true>
                <input type='submit' value='Delete review'>
            </form>
            <p>
                {{#user}} <a href="/user/{{username}}"> {{name}}</a> {{/user}} about
                {{#game}} {{name}} {{/game}}:
            </p>
            <p>
                {{comment}}
            </p>
            <p>
                Score: {{score}} | Date: {{date}}
            </p>
        </li>
        {{/reviews}}
    </ul>

    {{^reviews}}
    It seems that this game does not have any reviews yet.
    {{/reviews}}
    <p>
    <form action="/newReviewToDb" method="post">
        <input type='hidden' name='gameName' value="{{name}}">
        <input type='submit' value='Add new review.'>
    </form>
    <p>
    {{> snippet/delete_button}}
</main>
</body>
{{/game}}
</html>