<!DOCTYPE html>
<html lang="en">
{{#studio}}
<head>
    <meta charset="UTF-8">
    <title>Studio: {{name}}</title>
</head>
<body>
{{> snippet/header}}
<main>
    <p></p>

    {{#errorMessage}}
    <p>
        {{.}}
    </p>
    {{/errorMessage}}
    <h2>
        {{name}}
    </h2>
    <p>
        {{description}}
    </p>
    <p>
        Location: {{location}}
    </p>
    <p>
        Employees: {{employees}}
    </p>
    <p>
        <a href="/studio/{{name}}/followers">
            Followers: {{count_followers}}
        </a>
    </p>
    <p>
        Games:
    </p>
    {{#games}}
    <ul>
        <li>
            <a href="/game/{{name}}">
                {{name}}
            </a>
        </li>
    </ul>
    {{/games}}
    {{^games}}
    This studio does not have any game.
    {{/games}}
    <p>
    {{> snippet/follow_button}}
    <p>
    {{> snippet/delete_button}}

</main>
</body>
{{/studio}}
</html>