<!DOCTYPE html>
<html lang="en">
{{#user}}
<head>
    <meta charset="UTF-8">
    <title>User {{username}}</title>
</head>
<body>
{{> snippet/header}}
<main>
    <a href="/user/{{username}}">
        {{name}} @{{username}}
    </a>
    <p>
        Studios follows:
    </p>
    <p>
    <ul>
        {{#studiosFollow}}
        <li>
            <a href="/studio/{{name}}">
                {{name}}
            </a>
        </li>
        {{/studiosFollow}}
    </ul>
    {{^studiosFollow}}
    This user don't follow any studio.
    {{/studiosFollow}}
    </p>
</main>
</body>
{{/user}}
</html>