<!DOCTYPE html>
<html lang="en">
{{#user}}
<head>
    <meta charset="UTF-8">
    <title>User {{username}}</title>
</head>
<body>
{{> snippet/header}}
<main>
    <a href="/user/{{username}}">
        {{name}} @{{username}}
    </a>
    <p>
        Follows:
    </p>
    <p>
    <ul>
        {{#usersFollow}}
        <li>
            <a href="/user/{{username}}">
                {{name}}
            </a>
        </li>
        {{/usersFollow}}
    </ul>
    {{^usersFollow}}
    This user does not follow anyone.
    {{/usersFollow}}
    </p>
</main>
</body>
{{/user}}
</html>