<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Tribunal</title>
</head>
<body>
{{> snippet/header}}

<main>
    <h1>Welcome to the tribunal!</h1>
    <h2>The place where you can share your opinion about your favorite games!</h2>

    <p>See the ranking of the most liked games of the moment: </p>
    <a href="/ranking"> Go to raking</a>

    <p>Search for other users to follow them: </p>
    <a href="/search?type=users&query="> Search users</a>

    <p>Search for studios to follow them: </p>
    <a href="/search?type=studios&query="> Search studios</a>

    <p>See a list with all the games of our database: </p>
    <a href="/search?type=games&query="> Search games</a>
</main>

</body>
</html>