<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{{> snippet/header}}
<main>
    <h2>Log in into your account</h2>
    <form action="/login" method="post">
        <p>Username:</p>
        <label>
            <input type='text' name='user'>
        </label>
        <p>Password:</p>
        <label>
            <input type='password' name='password'>
        </label>
        <p>
            <input type='submit' value='Send'/>
        </p>
    </form>
    {{#invalidLogin}}
    <p>
        Incorrect user or password
    </p>
    {{/invalidLogin}}
</main>
</body>
</html>