<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> snippet/header}}
<main>
    <h2>Ranking</h2>
    {{> snippet/sort_page/sort_page_form}}

    {{#orderByBest}}
    <p>Ranking of best games:</p>
    {{/orderByBest}}
    {{^orderByBest}}
    <p>Ranking of worst games:</p>
    {{/orderByBest}}
    <table>
        {{#games}}
        <tr>
            <td>{{index}}º</td>
            <td><a href="/game/{{name}}"> {{name}}</a></td>
            <td>{{score}}</td>
        </tr>
        {{/games}}
    </table>
</main>
</body>
</html>